* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
    background-color: red;
}

#container {
    height: 100vh;
    background-color: yellow;
}

.btn-box {
    background-color: aquamarine;
}

div p {
    color: white;
}

div > p {
    text-decoration: underline;
}

.btn-box > button:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.input-name {
    background-color: blue;
}

.box-model {
    background-color: white;
    height: 40px;
    width: 60px;
    margin: 4px;
    padding: 12px;
    border: 12px solid
}

.border-box {
    background-color: blue;
    height: 40px;
    width: 60px;
    margin: 4px;
    padding: 12px;
    border: 12px solid
}